/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Open Sans', 'Lato', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  /* background-image: linear-gradient(
    to right bottom,
    rgb(13, 29, 58),
    rgb(26, 47, 85) 52%,
    rgb(54, 90, 131)
  ); */
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
